.swiper{
    width:1029px;
    height:300px;
    padding-left:10px;
    white-space:nowrap;
    line-height: 0;
    font-size:0; /*去除img标签之间空隙*/
    position:relative;
    left:-10px;
    margin-left:10px;
    margin:0 auto;
}
.swiper-item{
    width:200px;
    height:200px;
    transition-timing-function:cubic-bezier(.61,.05,.27,.99);
    transform-origin: 0% 50%;
}
.ctrl-btn{
    display: block;
    width: 144px;
    height: 59px;
    position: absolute;
    bottom:20px;
    left:450px;
    cursor:pointer;
}
.start-btn{
    background: url("https://res.wmnetwork.cc/static/conference/luckdraw/images/btn_contro_start.png") no-repeat;
    background-size: 144px 59px;
}
.stop-btn{
    background: url("https://testt2.wmnetwork.cc/static/conference/luckdraw/images/btn_contro_stop.png") no-repeat;
    background-size: 144px 59px;
}
.brake-btn{
    background: url("https://testt2.wmnetwork.cc/static/conference/luckdraw/images/slowdownButton.png") no-repeat;
    background-size: 144px 59px;
}